body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: rgb(147, 61, 0);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.item {
    margin-bottom: 20px;
}

.item img {
    max-width: 100%;
    height: auto;
}

.item h3 {
    margin-top: 10px;
}

.item p {
    margin-bottom: 10px;
}
h1{
    color: white;
}