body {height: 100vh;
    background-image: url(ss.jpeg);
    margin: 0;
    z-index: -1;
    background-size: cover;
  
  
    }
body::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        backdrop-filter: blur(10px);
        z-index: -1;
    }

header{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.info{
    border: 5px solid rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.asd{
    display: flex;
    justify-content: center;
}
.info{
    margin: 0 30px;
    text-decoration-line: none;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}